body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f4;
}

h1 {
  color: #333;
}

#google-signin-button {
  background-color: #4285f4;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

#message {
  font-weight: bold;
  margin: 20px;
}

